/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */
    .visible_phone{
        display: none;   
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container_12, .container_16                    { width: 768px;}
        /*1*/
        .container_12 .grid_11, .container_12 .grid_12,
        .container_16 .grid_16,.container_16 .grid_15   { width: 748px; }        
        /*1/2*/
        .container_12 .grid_5,.container_12 .grid_6,
        .container_16 .grid_7,.container_16 .grid_8     { width: 364px; }

/*-------------FIXED 12-------------*/
        .container_12 .grid_1,.container_12 .grid_2     { width: 108px; }
        .container_12 .grid_3, .container_12 .grid_4    { width: 236px; }
        .container_12 .grid_7, .container_12 .grid_8    { width: 492px; }
        .container_12 .grid_9, .container_12 .grid_10   { width: 620px; }
        
/*-------------FIXED 16-------------*/
        .container_16 .grid_1,.container_16 .grid_2     { width: 76px; }
        .container_16 .grid_3, .container_16 .grid_4    { width: 172px; }
        .container_16 .grid_5,.container_16 .grid_6     { width: 268px; }
        .container_16 .grid_9,.container_16 .grid_10    { width: 460px; }
        .container_16 .grid_11,.container_16 .grid_12   { width: 556px; }
        .container_16 .grid_13,.container_16 .grid_14   { width: 652px; }       
        
/* =Prefix Extra Space >> Global
--------------------------------------------------------------------------------*/
    .container_12 .prefix_5,.container_12 .prefix_6,
    .container_16 .prefix_7,.container_16 .prefix_8{margin-left: 394px;}                
/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1,.container_12 .prefix_2{margin-left: 138px;}
.container_12 .prefix_3,.container_12 .prefix_4{margin-left: 266px;}
.container_12 .prefix_7,.container_12 .prefix_8{margin-left: 522px;}
.container_12 .prefix_9,.container_12 .prefix_10,.container_12 .prefix_11{margin-left: 650px;}

/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container_16 .prefix_1,.container_16 .prefix_2     {margin-left: 106px;}
.container_16 .prefix_3,.container_16 .prefix_4      {margin-left: 202px ;}
.container_16 .prefix_5,.container_16 .prefix_6     {margin-left: 298px;}
.container_16 .prefix_9,.container_16 .prefix_10    {margin-left: 490px;}
.container_16 .prefix_11,.container_16 .prefix_12   {margin-left: 586px;}
.container_16 .prefix_13,.container_16 .prefix_14,.container_16 .prefix_15   {margin-left: 682px;}

    .visible_phone{
        display: none;   
    }

    }
    

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .grid_1,
        .grid_2,
        .grid_3,
        .grid_4,
        .grid_5,
        .grid_6,
        .grid_7,
        .grid_8,
        .grid_9,
        .grid_10,
        .grid_11,
        .grid_12,
        .grid_13,
        .grid_14,
        .grid_15,
        .grid_16
        {
                display: inline;
                float: left;
                margin-left: 0;
                margin-right: 0;
        }
         .container_12, .container_16                    { width: 320px;}
         /*1*/
        .container_12 .grid_11, .container_12 .grid_12,
        .container_16 .grid_16,.container_16 .grid_15,
        .container_12 .grid_5,.container_12 .grid_6,
        .container_16 .grid_7,.container_16 .grid_8,
        .container_12 .grid_1,.container_12 .grid_2,
        .container_12 .grid_3, .container_12 .grid_4,
        .container_12 .grid_7, .container_12 .grid_8,
        .container_12 .grid_9, .container_12 .grid_10,
        .container_16 .grid_1,.container_16 .grid_2,
        .container_16 .grid_3, .container_16 .grid_4,
        .container_16 .grid_5,.container_16 .grid_6,
        .container_16 .grid_9,.container_16 .grid_10,
        .container_16 .grid_11,.container_16 .grid_12,
        .container_16 .grid_13,.container_16 .grid_14   { width: 300px; margin: 0 10px; }
        
        /* =Prefix Extra Space >> Global
--------------------------------------------------------------------------------*/
    .container_12 .prefix_5,.container_12 .prefix_6,
    .container_16 .prefix_7,.container_16 .prefix_8,
    .container_12 .prefix_1,.container_12 .prefix_2,
    .container_12 .prefix_3,.container_12 .prefix_4,
    .container_12 .prefix_7,.container_12 .prefix_8,
    .container_12 .prefix_9,.container_12 .prefix_10,.container_12 .prefix_11,
    .container_16 .prefix_1,.container_16 .prefix_2,
    .container_16 .prefix_3,.container_16 .prefix_4,
    .container_16 .prefix_5,.container_16 .prefix_6,
    .container_16 .prefix_9,.container_16 .prefix_10,
    .container_16 .prefix_11,.container_16 .prefix_12,
    .container_16 .prefix_13,.container_16 .prefix_14,.container_16 .prefix_15   {margin: 0 10px;}
    .invisible_phone{
        display: none;
    }
    .visible_phone{
        display: block;   
    }
        
    }

    /* #Mobile (Landscape)
================================================== */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
                .grid_1,
        .grid_2,
        .grid_3,
        .grid_4,
        .grid_5,
        .grid_6,
        .grid_7,
        .grid_8,
        .grid_9,
        .grid_10,
        .grid_11,
        .grid_12,
        .grid_13,
        .grid_14,
        .grid_15,
        .grid_16
        {
                display: inline;
                float: left;
                margin-left: 0;
                margin-right: 0;
        }
        .container_12, .container_16                    { width: 440px;}
        .container_12 .grid_11, .container_12 .grid_12,
        .container_16 .grid_16,.container_16 .grid_15,
        .container_12 .grid_5,.container_12 .grid_6,
        .container_16 .grid_7,.container_16 .grid_8,
        .container_12 .grid_1,.container_12 .grid_2,
        .container_12 .grid_3, .container_12 .grid_4,
        .container_12 .grid_7, .container_12 .grid_8,
        .container_12 .grid_9, .container_12 .grid_10,
        .container_16 .grid_1,.container_16 .grid_2,
        .container_16 .grid_3, .container_16 .grid_4,
        .container_16 .grid_5,.container_16 .grid_6,
        .container_16 .grid_9,.container_16 .grid_10,
        .container_16 .grid_11,.container_16 .grid_12,
        .container_16 .grid_13,.container_16 .grid_14   { width: 420px; margin: 0 10px; }
        
        /* =Prefix Extra Space >> Global
--------------------------------------------------------------------------------*/
    .container_12 .prefix_5,.container_12 .prefix_6,
    .container_16 .prefix_7,.container_16 .prefix_8,
    .container_12 .prefix_1,.container_12 .prefix_2,
    .container_12 .prefix_3,.container_12 .prefix_4,
    .container_12 .prefix_7,.container_12 .prefix_8,
    .container_12 .prefix_9,.container_12 .prefix_10,.container_12 .prefix_11,
    .container_16 .prefix_1,.container_16 .prefix_2,
    .container_16 .prefix_3,.container_16 .prefix_4,
    .container_16 .prefix_5,.container_16 .prefix_6,
    .container_16 .prefix_9,.container_16 .prefix_10,
    .container_16 .prefix_11,.container_16 .prefix_12,
    .container_16 .prefix_13,.container_16 .prefix_14,.container_16 .prefix_15   {margin: 0 10px;}
    
    .invisible_phone{
        display: none;
    }
    .visible_phone{
        display: block;   
    }
    }
