@import url('wp-default.css');
@import url('fixed.css');
@import url('fluid.css');
@import url('fixedresponsive.css');
@import url('fluidresponsive.css');
@import url('typo.css');
@import url('module.css');
@import url('theme.css');
@import url('layout.css');
@import url('responsivelayout.css');

.alignRight {
    float: right;
}

.alignLeft {
    float: left;
}

.clear {
    clear: both;
}
